# vim: ft=gitconfig:
[user]
	useConfigOnly = true
[core]
	editor = nvim
	quotePath = false
	pager = delta
[init]
	defaultBranch = master
[commit]
	gpgSign = true
[fetch]
	prune = true
[pull]
	ff = only
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[mergetool]
	keepBackup = false
[mergetool "nvimdiff"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[alias]
	st = status
	l = log --graph --abbrev-commit --decorate --date=iso --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%ad%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an <%ae>%C(reset)' --topo-order
	lg = log --graph --abbrev-commit --decorate --date=iso --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%ad%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an <%ae>%C(reset)' --all --topo-order
[color]
	ui = auto
[interactive]
	diffFilter = delta --color-only
[delta]
	keep-plus-minus-markers = true
	file-decoration-style = "white bold ul"
	minus-style                   = syntax "#37222c"
	minus-non-emph-style          = syntax "#37222c"
	minus-emph-style              = syntax "#713137"
	minus-empty-line-marker-style = syntax "#37222c"
	line-numbers-minus-style      = "#914c54"
	plus-style                    = syntax "#20303b"
	plus-non-emph-style           = syntax "#20303b"
	plus-emph-style               = syntax "#2c5a66"
	plus-empty-line-marker-style  = syntax "#20303b"
	line-numbers-plus-style       = "#449dab"
	line-numbers-zero-style       = "#3b4261"
[diff "json"]
	textconv = python -m json.tool
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = .gitconfig.local
