[submodule ".local/z"]
	path = .local/z
	url = https://github.com/rupa/z.git
[submodule ".local/fzf-extras"]
	path = .local/fzf-extras
	url = https://github.com/atweiden/fzf-extras.git
[submodule ".local/fzf"]
	path = .local/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".local/git-fire"]
	path = .local/git-fire
	url = https://github.com/qw3rtman/git-fire.git
